<div class="layout">
  <div class="left-side-nav">
    <div class="user_detail">
      <div class="row text-secondary">
        <div class="user_image_name d-flex pl-3 align-items-center">
          <% if  current_user.photo.attached? %>
            <img src="<%= (url_for(current_user.photo)) %>" class="profile_image">                       
          <% else %>
            <img src="avatar.jpg" class="profile_image"> 
          <% end %>  
          <%= current_user.full_name %>
          
        </div> 
      </div> 
      <div class="row text-secondary">
        <div class="user_following text-center">      
          <span class="large-font d-block">1</span> 
          <span>Folowing</span> 
        </div> 
        <div class="user_followers text-center">      
          <span class="large-font d-block">1</span> 
          <span>Followers</span>
        </div> 
      </div>      
    </div>
    <div class="text-secondary">      
        <div class="side-nav d-flex align-items-center pl-3">
          <i class="fas fa-home"></i>
          <a class="nav-link nav-link-col" href="/home">HOME </a>
        </div>
        <div class="side-nav d-flex align-items-center pl-3">
          <i class="fas fa-user-circle"></i>
          <a class="nav-link nav-link-col" href="/profile">PROFILE</a>
        </div>
        <div class="side-nav align-items-center">
          <%= link_to 'LOG OUT', session_path('active'), method: :delete, class: 'nav-link-col side-nav-last' %>        
        </div> 
    </div>
  </div>
  <div class="right-side-nav"> 
    <div>
      <%= render '/pages/top_navbar' %>
    </div>
    <div class="home_container">
      <%= yield %>      
    </div>
  </div>
</div>

