
    <div class="home-middle-content">
        <div class="midle-nav">
            <%= render 'navbar_home' %>
        </div>
        <div class="ml-5">
            <span class="notice"><%= notice %></span>
            <span class="alert"><%= alert %></span>
        </div>
        <div class="container">
        <div class="card  card-post mb-2">
        <div class="card-body">
        <%= form_for(@newPost) do |f| %>
            <p class="text-secondary">TWEET SOMETHING</p> 
            <div class="input-group mb-1"> 
            <%= f.text_field :content, autofocus: true, class: "form-control" %>
            <%= f.submit "Add Tweet" %>                 
            </div>
            <% end %>
        </div>
        </div>
            <p>
            <% for p in @posts do %>
                <div class="card card-post">
                <div class="card-body">
                    <p><%= p.content %></p>
                </div>    
                </div>
            <% end %>      
            </p>
        </div>
    </div>

    <div class="home-right-content">
      <div class="text-secondary pt-3 who-to-follow d-flex">
        <p class="mr-5"> WHO TO FOLLOW </p> <i class="fas fa-sync ml-4 mt-1 text-secondary"></i>
      </div> 
        <div>       
        <% for p in @users do %>
            <div class="user_image_name d-flex pl-3 align-items-center">
                <% if  p.photo.attached? %>
                    <img src="<%= (url_for(p.photo)) %>" class="profile_image">                       
                <% else %>
                    <img src="avatar.jpg" class="profile_image"> 
                <% end %>  
                <%= link_to p.full_name, profile_path %>          
            </div>             
          <% end %>
        </div> 
    </div>
    