
    <div class="home-middle-content">
        <div class="midle-nav">
            <%= render 'navbar_home' %>
        </div>
        <div class="ml-5">
            <span class="notice"><%= notice %></span>
            <span class="alert"><%= alert %></span>
        </div>
        <div class="container">
        <div class="card  card-post mb-2">
        <div class="card-body">
        <%= form_for(@new_post) do |f| %>
            <p class="text-secondary">TWEET SOMETHING</p> 
            <div class="input-group mb-1"> 
            <%= f.text_field :content, autofocus: true, class: "form-control" %>
            <%= f.submit "Add Tweet" %>                 
            </div>
            <% end %>
        </div>
        </div>
            <p>
            <% for p in @posts do %>
                <div class="card card-post">
                    <div class="card-body d-flex">
                        <div class="tweet_avatar mr-3"> 
                            <% if  p.user.photo.attached? %>
                                <img src="<%= (url_for(p.user.photo)) %>" class="profile_image">                       
                            <% else %>
                                <img src="avatar.jpg" class="profile_image"> 
                            <% end %>                                         
                        </div> 
                        <div class="tweet_content">
                            <div  class="d-flex justify-content-between">                             
                                <p><%= link_to p.user.full_name, profile_path(id: p.user_id), class: 'text-dark' %></p>
                                <p class="text-secondary"><%= p.created_at.to_formatted_s(:short) %></p>
                            </div> 
                            <p class="text-secondary"><%= p.content %></p>
                            <div class="d-flex justify-content-end align-items-center"> 
                                <span class="mr-2"> <%=  p.likes.count %> </span>
                                <%= link_to '', likes_path(post_id: p.id), method: :post, class: 'fas fa-heart like_btn text-secondary' %> 
                            </div>                       
                        </div>                     
                    </div>    
                </div>
            <% end %>      
            </p>
        </div>
    </div>

    <div class="home-right-content">
      <div class="text-secondary pt-3 who-to-follow d-flex">
        <p class="mr-5"> WHO TO FOLLOW </p> <i class="fas fa-sync ml-4 mt-1 text-secondary"></i>
      </div> 
        <div>       
        <% for user in @not_following do %>
            <div class="user_image_name d-flex pl-3 align-items-center">
            <% if current_user.id != user.id %>
                <% if user.photo.attached? %>
                <img src="<%= (url_for(user.photo)) %>" class="profile_image">                       
                <% else %>
                <img src="avatar.jpg" class="profile_image"> 
                <% end %>  
                <%= link_to user.full_name, profile_path(id: user.id), class: 'text-secondary' %> 
            <% end %>   
            </div>             
          <% end %>
        </div> 
    </div>
    